@charset "UTF-8";
/* line 3, ../../../Desktop/boca/scss/_encabezado.scss */
#imagen1 {
  display: flex;
  text-align: center;
  background: url(https://media1.giphy.com/media/7g4xuCeAdVKdq/giphy.gif);
  margin: 20px;
  padding: 10px; }

/* line 13, ../../../Desktop/boca/scss/_encabezado.scss */
.escudo {
  max-width: 150%;
  margin: 20px;
  width: 130px;
  object-fit: contain; }

/* line 19, ../../../Desktop/boca/scss/_encabezado.scss */
.titulo {
  color: yellow;
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border-width: 4px 0;
  position: relative;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
  text-align: center;
  font-weight: normal;
  line-height: 200%;
  font-family: fantasy;
  font-size: 40px; }

/* line 36, ../../../Desktop/boca/scss/_encabezado.scss */
.nav-link {
  color: yellow; }

@media (max-width: 768px) {
  /* line 41, ../../../Desktop/boca/scss/_encabezado.scss */
  .titulo {
    display: none; }
  /* line 43, ../../../Desktop/boca/scss/_encabezado.scss */
  #imagen1 {
    background: none; } }

@media (max-width: 990px) {
  /* line 49, ../../../Desktop/boca/scss/_encabezado.scss */
  .titulo {
    font-size: 30px; }
  /* line 52, ../../../Desktop/boca/scss/_encabezado.scss */
  .escudo {
    display: none; } }

/*FOOTER*/
/* line 59, ../../../Desktop/boca/scss/_encabezado.scss */
footer {
  background: rgba(24, 11, 85, 0.507);
  background: -webkit-linear-gradient(59deg, rgba(29, 27, 109, 0.5), #16222A);
  background: linear-gradient(59deg, rgba(46, 13, 107, 0.445), #16222A);
  color: white;
  margin-top: 100px; }

/* line 67, ../../../Desktop/boca/scss/_encabezado.scss */
footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s; }

/* line 73, ../../../Desktop/boca/scss/_encabezado.scss */
footer a:hover {
  color: #ebf82e;
  text-decoration: none; }

/* line 78, ../../../Desktop/boca/scss/_encabezado.scss */
.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF; }

/* line 84, ../../../Desktop/boca/scss/_encabezado.scss */
.footer-middle {
  padding-top: 2em;
  color: white; }

/*SOCİAL İCONS*/
/* footer social icons */
/* line 92, ../../../Desktop/boca/scss/_encabezado.scss */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

/* line 99, ../../../Desktop/boca/scss/_encabezado.scss */
ul.social-network li {
  display: inline;
  margin: 0 5px; }

/* line 106, ../../../Desktop/boca/scss/_encabezado.scss */
.social-network a.icoFacebook:hover {
  background-color: #12295c; }

/* line 110, ../../../Desktop/boca/scss/_encabezado.scss */
.social-network a.icoLinkedin:hover {
  background-color: #12295c; }

/* line 113, ../../../Desktop/boca/scss/_encabezado.scss */
.social-network a.icoinstagram:hover {
  background-color: #12295c; }

/* line 116, ../../../Desktop/boca/scss/_encabezado.scss */
.social-network a.icotwiter:hover {
  background-color: #12295c; }

/* line 121, ../../../Desktop/boca/scss/_encabezado.scss */
.social-network a.icoFacebook:hover i,
.social-network a.icoinstagram:hover i,
.social-network a.icotwiter:hover i,
.social-network a.icoLinkedin:hover i {
  color: rgba(24, 14, 80, 0.418); }

/* line 128, ../../../Desktop/boca/scss/_encabezado.scss */
.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD; }

/* line 133, ../../../Desktop/boca/scss/_encabezado.scss */
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px; }

/* line 146, ../../../Desktop/boca/scss/_encabezado.scss */
.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center; }

/* line 152, ../../../Desktop/boca/scss/_encabezado.scss */
.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

/* line 165, ../../../Desktop/boca/scss/_encabezado.scss */
.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

/* line 174, ../../../Desktop/boca/scss/_encabezado.scss */
.social-network a {
  background-color: #F9F9F9; }

/* footer social icons */
/* line 3, ../../../Desktop/boca/scss/jugadores.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, ../../../Desktop/boca/scss/jugadores.scss */
figcaption {
  font-family: 'Sigmar One', cursive;
  font-family: 'Anton', sans-serif;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Bungee', cursive;
  font-family: 'Copse', serif;
  color: yellow;
  transition: all 1s; }

/* line 21, ../../../Desktop/boca/scss/jugadores.scss */
figcaption:hover {
  transform: scale(1.2);
  font-size: 32px;
  cursor: pointer; }

/* line 27, ../../../Desktop/boca/scss/jugadores.scss */
.equipo {
  max-width: 1400px;
  margin: 5px;
  display: grid; }

/* line 33, ../../../Desktop/boca/scss/jugadores.scss */
.plantel {
  text-align: center;
  font-size: 38px;
  margin: 15px 0px 40px;
  grid-column: span 5;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Fjalla One', sans-serif;
  color: yellow; }

/* line 44, ../../../Desktop/boca/scss/jugadores.scss */
.equipo-container {
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;
  background-color: rgba(21, 21, 66, 0.432);
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(5, 1fr); }

/* line 57, ../../../Desktop/boca/scss/jugadores.scss */
.equipo-item {
  width: 200px; }

/* line 62, ../../../Desktop/boca/scss/jugadores.scss */
div {
  grid-column: 2/6; }

/* line 67, ../../../Desktop/boca/scss/jugadores.scss */
.equipo-imagen {
  max-width: 110%;
  width: 200px;
  padding: 10px;
  transition: all 1s; }

/* line 78, ../../../Desktop/boca/scss/jugadores.scss */
.equipo-imagen:hover {
  transform: scale(1.2);
  font-size: 32px;
  cursor: pointer; }

@media (max-width: 768px) {
  /* line 84, ../../../Desktop/boca/scss/jugadores.scss */
  .equipo-container .equipo-item {
    grid-column: 2/-1; } }

/*# sourceMappingURL=jugadores.css.map */