$color : yellow;

#imagen1{
    display: flex;
    text-align: center;
    background: url(https://media1.giphy.com/media/7g4xuCeAdVKdq/giphy.gif);
    margin: 20px;
    padding: 10px;
  
    
  }
  
  .escudo{
          max-width: 150%;
          margin: 20px;
          width: 130px;
          object-fit: contain;
  }
  .titulo{
    color: $color;
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    border-width: 4px 0;
    position: relative;
    top: 18%;
    left: 50%;
    width: 40em;
    margin: 0 0 0 -20em;
    text-align: center;
    font-weight: normal;
    line-height: 200%;
    font-family: fantasy;
    font-size: 40px;
     }

     .logo{
      width: 0;
  }
  @media (max-width:768px){
             .logo{
                 width: 10%;
                 margin-left: 5px;
             }
             .titulo{
              display: none; }
             #imagen1{
              background: none;
     }  
      
  }
  @media (max-width:500px){
      .navbar-brand{
          width: 197px;
      }
  }
  @media (max-width:400px){
      .navbar-brand{
          width: 150px;
      }
  }     
     .nav-link{
         color: $color;
     }
     @media (max-width:768px)
    {

  }
    @media (max-width:990px)
{
    .titulo{
        font-size: 30px;
    }
    .escudo{
        display: none; 
   }
   .logo{
    width: 10%;
    margin-left: 5px;
}
 } 
 
 /*FOOTER*/

footer {
    background: rgba(24, 11, 85, 0.507);
    background: -webkit-linear-gradient(59deg, rgba(29, 27, 109, 0.5), #16222A);
    background: linear-gradient(59deg, rgba(46, 13, 107, 0.445), #16222A);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: rgb(235, 248, 46);
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
 /*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  
  .social-network a.icoFacebook:hover {
    background-color: rgb(18, 41, 92);
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: rgb(18, 41, 92);
  }
  .social-network a.icoinstagram:hover {
    background-color: rgb(18, 41, 92);
  }
  .social-network a.icotwiter:hover {
    background-color: rgb(18, 41, 92);
  }

  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoinstagram:hover i,
  .social-network a.icotwiter:hover i,
  .social-network a.icoLinkedin:hover i {
    color: rgba(24, 14, 80, 0.418);
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }/* footer social icons */
  