@import "encabezado";
.container{
    margin: 20px;
}
.femenino{
	text-align: center;;
	font-size: 38px;
	margin: 15px 0px 40px;
	grid-column: span 5;
    font-family: 'Sigmar One', cursive;
    font-family: 'Anton', sans-serif;
	 color: rgb(224, 217, 81);
	 
}
.galeria {
    position: relative;
    width: 60%; /* Ancho a ocupar por la galería sobre el total disponible */
    overflow: hidden;
    margin: 20px auto;
    background-color: #000;
    box-shadow: 1px 1px 6px #000;
    }
    .galeria:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjxhzcSi-N4Grw77bve_dws2sS4GRplrXUOjJRKA3XnHl9E2rc); /* Fondo por defecto */
    -moz-background-size: cover;-webkit-background-size: cover;background-size: cover;
    opacity: .1;
    }
    .imagen {
    position: relative;
    width: 15%; /* Ancho de la miniatura sobre el ancho total de la galería */
    padding-bottom: 15%; /* Idéntico al anterior para miniaturas cuadradas */
    background-position: 50% 50%;
    -moz-background-size: cover;-webkit-background-size: cover;background-size: cover;
    cursor: pointer;
    }
    .imagen:nth-of-type(1) {
        background-image: url(https://http2.mlstatic.com/D_NQ_NP_908052-MLA28702067306_112018-Q.jpg);
    }
    .imagen:nth-of-type(2) {
    background-image: url(https://http2.mlstatic.com/sudadera-o-musculosa-de-dama-de-boca-oficial-D_NQ_NP_756425-MLA28262562517_092018-F.jpg);
    }
    .imagen:nth-of-type(3) {
    background-image: url(https://d26lpennugtm8s.cloudfront.net/stores/868/618/products/931-98f7db341ab323cd1f15387751519529-1024-1024.jpg);
    }
    .imagen:nth-of-type(4) {
    background-image: url(https://http2.mlstatic.com/remera-boca-juniors-let-mujer-D_NQ_NP_931256-MLA28255089452_092018-Q.jpg);
    }
    .imagen:nth-of-type(5) {
        background-image: url(https://www.bocashop.com.ar/ccstore/v1/images/?source=/file/v8955069084202689261/products/BJ181152%BL_1.jpg&height=300&width=300);
        }
   
    
    .imagen:before {
    content: "";
    position: absolute;
    top: -900%; /* ((Nºimágenes*2)-1)*100*/
    left: 100%;
    width: 566%; /* (10000/ancho_imagen)-100 */
    height: 500%; /* Nºimagenes*100 */
    background-image: inherit;
    -moz-background-size: cover;-webkit-background-size: cover;background-size: cover;
    -moz-transition: all .8s ;-webkit-transition: all .8s ;transition: all .8s ;
    }
    .imagen:hover:nth-of-type(1):before {
    top: 0%; /* (Nº.nth-1)*(-100) */
    }
    .imagen:hover:nth-of-type(2):before {
    top: -100%; /* (Nº.nth-1)*(-100) */
    }
    .imagen:hover:nth-of-type(3):before {
    top: -200%; /* (Nº.nth-1)*(-100) */
    }
    .imagen:hover:nth-of-type(4):before {
    top: -300%; /* (Nº.nth-1)*(-100) */
    }
    
    .imagen:hover:nth-of-type(5):before {
        top: -400%; /* (Nº.nth-1)*(-100) */
        }

       
            .imagen2 {
            position: relative;
            width: 15%; /* Ancho de la miniatura sobre el ancho total de la galería */
            padding-bottom: 15%; /* Idéntico al anterior para miniaturas cuadradas */
            background-position: 50% 50%;
            -moz-background-size: cover;-webkit-background-size: cover;background-size: cover;
            cursor: pointer;
            }
            .imagen2:nth-of-type(1) {
                background-image: url(https://www.authogar.com/media/catalog/product/cache/1/thumbnail/600x/17f82f742ffe127f42dca9de82fb58b1/c/a/camiseta_boca_ofic_aj5292_492_1.png);
            }
            .imagen2:nth-of-type(2) {
            background-image: url(https://cdn.shopify.com/s/files/1/0043/1662/7032/products/19d4e03708_2048x.png?v=1570128785);
            }
            .imagen2:nth-of-type(3) {
            background-image: url(https://www.templodelfutbol.com.ar/1954-large_default/cam-boca-m-nk-brt-stad-jys-ss-away-al-mn.jpg);
            }
            .imagen2:nth-of-type(4) {
            background-image: url(https://assets.adidas.com/images/w_600,f_auto,q_auto:sensitive,fl_lossy/187ef3554f2344548263ab3c013f12e4_9366/Camiseta_Visitante_Boca_Juniors_Blanco_GL4171_01_laydown.jpg);
            }
            .imagen2:nth-of-type(5) {
                background-image: url(https://assets.adidas.com/images/w_600,f_auto,q_auto:sensitive,fl_lossy/3238d8e3307b4ec99821ab3b01596db7_9366/Camiseta_Titular_Boca_Juniors_Azul_GL4175_01_laydown.jpg);
                }
           
            
            .imagen2:before {
            content: "";
            position: absolute;
            top: -900%; /* ((Nºimágenes*2)-1)*100*/
            left: 100%;
            width: 566%; /* (10000/ancho_imagen)-100 */
            height: 500%; /* Nºimagenes*100 */
            background-image: inherit;
            -moz-background-size: cover;-webkit-background-size: cover;background-size: cover;
            -moz-transition: all .8s ;-webkit-transition: all .8s ;transition: all .8s ;
            }
            .imagen2:hover:nth-of-type(1):before {
            top: 0%; /* (Nº.nth-1)*(-100) */
            }
            .imagen2:hover:nth-of-type(2):before {
            top: -100%; /* (Nº.nth-1)*(-100) */
            }
            .imagen2:hover:nth-of-type(3):before {
            top: -200%; /* (Nº.nth-1)*(-100) */
            }
            .imagen2:hover:nth-of-type(4):before {
            top: -300%; /* (Nº.nth-1)*(-100) */
            }
            
            .imagen2:hover:nth-of-type(5):before {
                top: -400%; /* (Nº.nth-1)*(-100) */
                }

