@import "encabezado";

.container-sm{
    margin: 20px;
}
.d-block{
    width: 50px;
    alt: 50px;
}

.nav-link{
color: yellow;}

h3{
    color: yellow;
}  

.carousel-caption{
background: rgba(24, 24, 109, 0.733);
}
